{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for tag in articles %}
            <li><a href={{ path: "article_show" ,{slug:article.slug} }}> - {{ article.tittle}} </a> </li>
        {% endfor %}

    </ul>
{% endblock %}
